{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"proseWrap": "preserve",
	"printWidth": 100,
	"importOrder": ["^react/?(.*)$", "^../(.*)$", "^./(?!styles/(.*)$)", "^\\./styles/(.*)$"],
	"importOrderSeparation": false,
	"importOrderSortSpecifiers": true
}
